.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__info > button {
  background-color: rgb(240, 195, 88);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  color: #111;
}
.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__title {
  max-width: 80%;
  font-size: 17px;
  font-weight: 800;
}
.star {
  color: rgb(255, 164, 27);
}
